# Dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# Build Outputs
.turbo
.next
dist
out
.expo
android
ios
web-build
build

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Uploads
apps/server/public
apps/server/static/exports

# env
.env
.env.local
.env.docker.local
.env.docker

# Prisma
packages/prisma/seeds
packages/prisma/src/generated

# Nginx


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
cache.*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.tsbuildinfo
tsup.config.bundled_*.mjs
next-env.d.ts
expo-env.d.ts

# OS
.DS_Store
*.pem

# generated native folders
/ios
/android

# Claude Code local settings
.claude/*.local.json
.claude/stats.json
CLAUDE.local.md

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json