# Dependencies
node_modules
.pnp
.pnp.js

# Build Outputs
.turbo
.next
dist
out
.expo
android
ios
web-build

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Uploads
apps/server/public

# env
.env
.env.local
.env.docker.local

# Database
apps/database/data
apps/database/seed

# Nginx


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.pem

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json