APP_PORT=3000
APP_SWAGGER=api-docs
APP_STATIC_ASSETS=static
APP_NAME="Omni"

APP_DOMAIN=
APP_WEBSITE_DOMAIN=
APP_ADMIN_DOMAIN=

APP_BASE_URL="http://${APP_DOMAIN}"
APP_WEBSITE_URL="http://${APP_WEBSITE_DOMAIN}"
APP_ADMIN_URL="http://${APP_ADMIN_DOMAIN}"
APP_HTTP_URL="http://${APP_DOMAIN}/trpc"
APP_SOCKET_URL="ws://${APP_DOMAIN}/trpc"

#JWT
JWT_ACCESS_TOKEN= #openssl rand -base64 64
JWT_REFRESH_TOKEN= #openssl rand -base64 64
JWT_RESET_TOKEN= #openssl rand -base64 64

# SMTP
## smtp username@mail.com
SMTP_TO_EMAIL=
## smtp password
SMTP_TO_PASSWORD=
## smtp email from username@mail.com
SMTP_FROM_EMAIL=
## smtp domain, smtp.mail.com
SMTP_DOMAIN=
## smtp port, ussually 465
SMTP_PORT=

GOOGLE_WEB_CLIENT_ID=
GOOGLE_WEB_CLIENT_SECRET=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''
