APP_PORT=3000
APP_API=api
APP_TRPC=trpc
APP_SWAGER=api-docs
APP_STATIC_ASSETS=public
APP_BASE_URL=http://localhost:3000
APP_ADMIN_URL=http://localhost:3002

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=mongo
DATABASE_PORT=27018
DATABASE_NAME=
DATABASE_URL="mongodb://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?replicaSet=rs0&retryWrites=true&w=majority&directConnection=true&authSource=admin"