APP_PORT=3002
APP_HOSTNAME=

NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_DOMAIN=
NEXT_PUBLIC_WEBSITE_DOMAIN=
NEXT_PUBLIC_SERVER_DOMAIN=

NEXT_PUBLIC_BASE_URL="https://${NEXT_PUBLIC_APP_DOMAIN}"
NEXT_PUBLIC_WEBSITE_URL="https://${NEXT_PUBLIC_WEBSITE_DOMAIN}"
NEXT_PUBLIC_SERVER_URL="https://${NEXT_PUBLIC_SERVER_DOMAIN}"
NEXT_PUBLIC_SERVER_TRPC_URL="https://${NEXT_PUBLIC_SERVER_DOMAIN}/trpc"
NEXT_PUBLIC_SERVER_SOCKET_TRPC_URL="wss://${NEXT_PUBLIC_SERVER_DOMAIN}/trpc"

# Auth
AUTH_TRUST_HOST=true
AUTH_URL="https://${NEXT_PUBLIC_APP_DOMAIN}/api/auth"
AUTH_SECRET=
