APP_PORT=3001
APP_HOSTNAME=

NEXT_PUBLIC_APP_NAME="Omni"
NEXT_PUBLIC_APP_DOMAIN=
NEXT_PUBLIC_ADMIN_DOMAIN=
NEXT_PUBLIC_SERVER_DOMAIN=

NEXT_PUBLIC_BASE_URL="http://${NEXT_PUBLIC_APP_DOMAIN}"
NEXT_PUBLIC_ADMIN_URL="http://${NEXT_PUBLIC_ADMIN_DOMAIN}"
NEXT_PUBLIC_SERVER_URL="http://${NEXT_PUBLIC_SERVER_DOMAIN}"
NEXT_PUBLIC_SERVER_TRPC_URL="http://${NEXT_PUBLIC_SERVER_DOMAIN}/trpc"

# Auth
AUTH_TRUST_HOST=true
AUTH_SECRET=
AUTH_URL="http://${NEXT_PUBLIC_APP_DOMAIN}/api/auth"

AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=